<?xml version="1.0" encoding="UTF-8" ?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-admob-jimmy" version="4.6.2">
  <description>Google AdMob Ads plugin for Cordova, Phonegap, Ionic/Angular and Intel XDK. Monetize your app with one javascript line. Android SDK v7.5, iOS SDK v7.3.1. With support for tappx and auto-detect internet connection.</description>
  <name>AdMob Google Ads - Clean</name>
  <author href="https://github.com/jamesfdickinson/admob-google-cordova-clean">jamesfdickinson</author>
  <license>MIT</license>
  <keywords>ad,ads,admob,google,advertising,advertisment,publicity,earn,win,play,services,iad,flurry,monetization,money,appfeel,tappx</keywords>
  <repo>https://github.com/jamesfdickinson/admob-google-cordova-clean.git</repo>
  <issue>https://github.com/jamesfdickinson/admob-google-cordova-clean/issues</issue>

  <engines>
    <engine name="cordova" version=">=8.0.0" />
  </engines>


  <js-module src="www/admob.js" name="AdMobAds">
    <clobbers target="window.admob" />
  </js-module>

  <!-- <hook type="after_plugin_add" src="scripts/100-prepare-admob-angular.js" />
  <asset src="www/angular-admob.js" target="lib/angular-admob/angular-admob.js" /> -->

  <!-- android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="AdMobAds">
        <param name="android-package" value="com.appfeel.cordova.admob.AdMobAds" />
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <activity android:name="com.google.android.gms.ads.AdActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" android:theme="@android:style/Theme.Translucent" />
      <meta-data  android:name="com.google.android.gms.ads.APPLICATION_ID"  android:value="$ADMOB_APP_ID"/>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.INTERNET" />
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    </config-file>

    <framework src="com.google.android.gms:play-services-ads:+" />
    <!-- <framework src="com.google.android.gms:play-services-measurement:+" />
    <framework src="com.google.android.gms:play-services-measurement-sdk:+" />  -->
    <!--<framework src="com.google.firebase:firebase-ads:+" />-->



    <source-file src="src/android/AdMobAds.java" target-dir="src/com/appfeel/cordova/admob" />
    <source-file src="src/android/AdMobAdsAdListener.java" target-dir="src/com/appfeel/cordova/admob" />
    <source-file src="src/android/AdMobRewardedVideoAdListener.java" target-dir="src/com/appfeel/cordova/admob" />

    <preference name="ADMOB_APP_ID" />
  </platform>

  <!-- ios -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="AdMobAds">
        <param name="ios-package" value="CDVAdMobAds" />
      </feature>
    </config-file>

    <header-file src="src/ios/CDVAdMobAds.h" />
    <source-file src="src/ios/CDVAdMobAds.m" />
    <header-file src="src/ios/CDVAdMobAdsAdListener.h" />
    <source-file src="src/ios/CDVAdMobAdsAdListener.m" />

    <!-- Google AdMob framework -->
    <!-- <framework src="Google-Mobile-Ads-SDK" type="podspec"  /> -->
    <!-- <framework src="Firebase/Analytics" type="podspec" />
    <framework src="Firebase/AdMob" type="podspec" /> -->
    <podspec>
            <config>
                <source url="https://github.com/CocoaPods/Specs.git"/>
            </config>
            <pods>
                 <pod name="Google-Mobile-Ads-SDK"  />
                <!-- <pod name="Firebase/Analytics"  />
                <pod name="Firebase/AdMob"  /> -->
            </pods>
        </podspec>
  </platform>
</plugin>
